@import url('https://rsms.me/inter/inter.css');
@supports (font-variation-settings: normal) {
* {
    box-sizing: border-box;
    margin: 0;
}
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 5vw;
}
.hero-header-container {
    position: relative;
    display:inline-block;
    width: 100%;
    height: 170vw;
    padding-top: 56.25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
    min-height: 545px;
}
.hero-header-container .wrapper {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("/img/net.png");
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
}
.logo img {
    position: absolute;
    left: 25%;
    top: 0;
    width: 40%;
}
.hero-header-container .heading-combinations {
    margin-top: 40%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}
.hero-header-container .heading-combinations h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 170%;
    line-height: 130%;
    text-align: center;
    color: #F7F7F7;
    margin-bottom: 6vw;
}
.hero-header-container .heading-combinations p {
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 120%;
    line-height: 150%;
    text-align: center;
    color: #E6E4E4;
}
/*
.nav-items {
    position: absolute;
    width: 500px;
    right: 1%;
    top: 14%;
    list-style-type: none;
}
.nav-items li {
    display: inline-block;
    width: 100px;
}
.nav-items li a {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.1px;
    color: #FFFFFF;
    text-decoration: none;
}
*/
.features-3-container {
    border-bottom: #DBDBDB 1px solid;
}
.features-3-container .heading-combinations {
    width: 85%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}
.features-3-container .heading-combinations h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 180%;
    line-height: 130%;
    text-align: center;
    color: #13385A;
}
.features-3-container .heading-combinations p {
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    line-height: 150%;
    text-align: center;
    color: #585757;
    margin-top: 6vw;
}
.features-3-container .blocks {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.features-3-block {
    display: inline-block;
    width: 85%;
    margin-top: 18%;
    vertical-align: top;
    text-align: center;
}
.features-3-block h1 {
    margin-left: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 150%;
    line-height: 130%;
    color: #13385A;
    padding-bottom: 6vw;
}
.features-3-block p, li {
    margin-left: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    line-height: 130%;
    color: #585757;
    padding-bottom: 6vw;
}
.features-3-block ul {
    margin-left: 0;
    list-style: none;
}

.features-2-container {
    border-bottom: #DBDBDB 1px solid;
}
.features-2-container .wrapper {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.features-2-container .smart-typography {
    margin-top: 6vw;
    padding-right: 20%;
    width: 100%;
}
.features-2-container .smart-typography h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 180%;
    line-height: 130%;
    color: #13385A;
    margin-bottom: 6vw;
}
.features-2-container .smart-typography p {
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    line-height: 130%;
    color: #585757;
}
.features-2 {
    margin-top: -95%;
    margin-left: -20%;
    margin-bottom: 6vw;
    right: 0;
}
.features-2 img {
    width: 130%;
}

.features-4-container {
    border-bottom: #DBDBDB 1px solid;
}
.features-4-container .smart-typography {
    margin-top: 6vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
    width: 85%;
}
.features-4-container .smart-typography h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 180%;
    line-height: 130%;
    color: #13385A;
    margin-bottom: 6vw;
}
.features-4-container .smart-typography p {
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    line-height: 130%;
    text-align: center;
    color: #585757;
}
.features-4-container .features-4 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
}
.features-4-container .features-4 img {
    width:80%;
}

.clients-container {
    border-bottom: #DBDBDB 1px solid;
}
.clients-container .wrapper {
    min-width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20%;
}
.clients-container h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 180%;
    line-height: 130%;
    color: #13385A;
    margin-bottom: 6vw;
}
.clients-container .brands {
    margin-bottom: 20%;
}
.clients-container .brands img {
    vertical-align: middle;
    width: 35%;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 6vw;
}
/*
.steps-container {
    border-bottom: #DBDBDB 1px solid;
}
.steps-container .smart-typography {
    width: 730px;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 51px;
}
.steps-container .smart-typography h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -1.2px;
    color: #13385A;
    margin-bottom: 20px;
}
.steps-container .smart-typography p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #585757;
}
.steps-container .blocks {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 138px;
}
.steps-container .blocks div {
    display: inline-block;    
}
.steps-container .blocks .capacity {
    width: 350px;
    vertical-align: top;
}
.steps-container .blocks .arrow {
    width: 32px;
    margin-top: 40px;
}
.steps-container .blocks .capacity p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #585757;
}

.translators-container {
    border-bottom: #DBDBDB 1px solid;
    text-align: center;
}
.translators-container h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -1.2px;
    color: #13385A;
    display: block;
    width: 730px;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
}
.translators-container .person {
    display: inline-block;
    margin-top: 110px;
    width: 255px;
    vertical-align: top;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}
.translators-container .person img {
    width: 143px;
    height: 157px;
    border-radius: 50%;
}
.translators-container .person h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.2px;
    color: #1C1C1C;
    margin-bottom: 5px;
    margin-top: 14px;
}
.translators-container .person h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.2px;
    color: #585757;
    margin-bottom: 18px;
}
.translators-container .person p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.3px;
    color: #585757;
}

.footer-container {
    height: 60px;
    background: #F7F7F7;
    margin-top: -4px;
    border-top: #DBDBDB 1px solid;
}
.footer-container .wrapper {
    min-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.footer-container .copyright {
    display: inline-block;
    margin-left: 145px;
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #969696;
}
.footer-container .social {
    float: right;
    margin-right: 145px;
    margin-top: 18px;
    font-style: normal;
}
.footer-container .social a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.map-container {
    width: 100%;
}
.map-container .wrapper {
    position: relative;
}
.map-container iframe {
    width: 100%;
    height: 430px;
    position: relative;
    z-index: -1;
    border: 0;
}
.map-container .address {
    position: absolute;
    top: 10px;
    left: 8px;
    height: 204px;
    width: 402px;
    padding: 27px 34px 27px 34px;
    background-color: #FFFFFF;
    vertical-align: top;
}
.map-container .address h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.3px;
    color: #585757;
}
.map-container .address p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.3px;
    color: #585757;
}
*/